version: '3.1'

services:
  server:
    image: javaethio/ecommerce-server:latest
    #    build: .
    restart: on-failure
    ports:
      - 8083:8081
    depends_on:
      - db
    environment:
      - DB_HOST=db
  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: examplepassword


