version: '3.1'

services:
  server:
    build: .
    restart: always
    ports:
      - 8081:8081
    depends_on:
      - db
    environment:
      - DATABASE_HOST=db
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: example

